extends ../layout

block content
  h2 #{team.name}
    .nt-btn-bar.float-right
      if user
        button.btn.btn-danger(onclick="deleteTeam('"+team.id+"')") Delete
      a.btn.btn-primary(href='/teams') Back
  hr

  .row
    .col-sm-3.text-center
      .row
        .col.col-12
          img.avatar.avatar-lg(src='/assets/teams/' + team.logo)
        .col.col-12.mt-2
          a.text-center.text-info.font-weight-bold(href='/leagues/' + team.league.id) #{team.league.name}
    .col-sm-9
      .row
        for player in team.players
          .col.col-sm-2
            if player.picture
              img(src=player.picture)
            else
              img(src="http://pro.lvp.es/bundles/lvpinterface/pro/img/no-foto.jpg")
            p.text-center.font-weight-bold #{player.name}
            .nt-bubbles
              .nt-bubble
                img(src="/assets/roles/" + player.role + ".png")
              .nt-bubble
                i.flag-icon(class="flag-icon-" + codeFromCountry(player.country.toLowerCase()))

