extends ../layout

block content
  h2 #{team.name}
    .nt-btn-bar.float-right
      if user
        button.btn.btn-danger(onclick="deleteTeam('"+team.id+"')") Supprimer
      a.btn.btn-primary(href='/teams') Retour
  hr

  .row
    .col-sm-2.text-center
      img.avatar.avatar-lg(src='/assets/teams/' + team.logo)
      .text-center.font-weight-bold #{team.regionName(team.region)}
    .col-sm-10
      .row
        for player in team.players
          .col
            if player.picture
              img(src=player.picture)
            else
              img(src="http://pro.lvp.es/bundles/lvpinterface/pro/img/no-foto.jpg")
            p.text-center.font-weight-bold #{player.name}
            .nt-bubbles
              .nt-bubble
                img(src="/assets/roles/" + player.role + ".png")
              .nt-bubble
                i.flag-icon(class="flag-icon-" + countryCode(player.country))

